@font-face {
  font-family: "GlyphWorld";
  src: url("./fonts/GlyphWorld-Mountain.otf");
}

@font-face {
  font-family: "SH PINSCHER";
  src: url("./fonts/SHPinscher-Regular.otf");
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans &display=swap");

.video-header {
  text-align: center;
  width: 100vw;
}

.video-header,
.video-header video{
  width: 100vw;
  top: 0;
  left: 0;
}

.video-header video {
  background: black;
  object-fit: contain;
}

.video-header  {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

html,
body {
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.4;
}

body {
  background: black;
  margin: 0;
}

main {
  position: relative;
}

@media screen and (min-width: 400px) {
  main {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 800px) {
  main {
    padding: 1rem 5rem;
  }
}

@media screen and (min-width: 1200px) {
  main {
    padding: 1rem 10rem;
  }
}

main::before {
  content: "";
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  top: -100vh;
}

h1 {
  font-family: "GlyphWorld", "SH PINSCHER";
  color: white;
  font-size: 3vw;
  text-align: left;
}

h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

h3 {
  color: black;
  font-family: "SH PINSCHER";
  font-size: 2em;
}

h4 {
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
}

.arrow-down {
  border: solid white;
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 15px;
  margin-bottom: 1rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  left: auto;
  bottom: 6vw;
}

.event {
  margin: 1rem auto 1rem auto 3rem;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  color: black;
}

.description {
  margin: 1rem auto 1rem auto 3rem;
  font-family: "DM Sans", sans-serif;
  font-size: 2vh;
  text-align: left;
  text-justify: inter-word;
  color: white;
}

@media screen and (min-width: 400px) {
  .description {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    width: 50%;
  }
}

ul.seven-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
}

@media screen and (min-width: 400px) {
  ul.seven-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  ul.seven-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(14px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

ul.weekdays {
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}

ul.weekdays li {
  height: 4vw;
  font-family: "GlyphWorld", "SH PINSCHER";
}

ul.day-grid li {
  background-color: #292929;
  border: 1px solid #000;
  height: 12vw;
  max-height: 150px;
  position: relative;
}

ul.day-grid li div.number {
  font-size: 2vh;
  font-family: "GlyphWorld", "SH PINSCHER";
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 10px;
}

ul.day-grid li div.title {
  font-size: 2vh;
  font-family: "SH PINSCHER", sans-serif;
  padding-top: 10px;
  text-align: center;
}

ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none;
}

@media screen and (min-width: 400px) {
  ul.day-grid li:nth-child(1),
  ul.day-grid li:nth-child(2),
  ul.day-grid li:nth-child(3),
  ul.day-grid li:nth-child(3),
  ul.day-grid li:nth-child(35) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  ul.day-grid li:nth-child(1),
  ul.day-grid li:nth-child(2),
  ul.day-grid li:nth-child(3),
  ul.day-grid li:nth-child(3),
  ul.day-grid li:nth-child(35) {
    display: block;
    background-color: #000;
  }
}

@media screen and (min-width: 400px) {
  ul.weekdays {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  ul.weekdays {
    display: grid;
  }
}

@media all and(max-width: 800px) {
  ul {
    grid-gap: 0.25em;
  }

  @media (pointer: coarse) and(hover: none) {
    header {
      background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
        no-repeat center center scroll;
    }
    header video {
      display: none;
    }
    ul.weekdays li {
      font-size: 0;
    }

    ul.weekdays > li abbr:after {
      content: attr(title);
      font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
      text-align: center;
      color: #fff;
    }
  }
}

.today {
  background-color: crimson !important;
}

.festival-past-day {
  background-color: #566769 !important;
}

.festival-future-day {
  background-color: #b6d6d8 !important;
}

/* minimal sm icons */

@import url("//maxcdn.bootstrapcdn.com/font-awesome / 4.3.0/css/font-awesome.min.css");

a,
a:hover {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.socialbtns {
  padding-top: 2rem;
}

.socialbtnsbtnsbtns,
.socialbtnsbtnsbtns ul,
.socialbtnsbtnsbtns li {
  margin: 0;
  padding: 5px;
  color: gray;
}

.socialbtnsbtnsbtns li {
  list-style: none outside none;
  display: inline-block;
  color: gray;
}

.socialbtns ul {
  padding: 0;
}

.socialbtns li {
  list-style: none outside none;
  display: inline-block;
  color: gray;
}

.socialbtns .fa {
  color: gray;
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    -1px -1px 0 #000;
  -webkit-text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    -1px -1px 0 #000;
  -moz-text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    -1px -1px 0 #000;
  -o-text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    -1px -1px 0 #000;
  transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -webkit-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
  color: #000;
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    -1px -1px 0 #fff;
  -webkit-text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    -1px -1px 0 #fff;
  -moz-text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    -1px -1px 0 #fff;
  -o-text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    -1px -1px 0 #fff;
  transition: all ease 0.5s;
  -moz-transition: all ease-in 0.5s;
  -webkit-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
}

main footer {
  text-align: center;
  margin: 2rem 1rem auto 1rem auto;
  color: gray;
}

footer {
  font-family: "GlyphWorld", "SH PINSCHER";
  color: gray;
  font-size: 1vw;
  text-align: left;
  margin-bottom: 2rem;
}
